body{
  margin: 0px;
}

.hero{

  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url( https://arxns96.github.io/Flexbox-after-redundancy/Test/img/virgil.png
);
  background-size: cover;
  background-position: center; 
  background-color: #F5A281;
  width: 100%;
  height: 450px;
}

.hero ul{

  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 0px; 
  padding-right: 30px;
 /* backdrop-filter: blur(10px); */
}


@media only screen and (max-width: 600px) {
  .hero ul {
  display: flex;
  justify-content: center;
  /* backdrop-filter: blur(10px); */

    
  }
}

.hero li{

	margin: 20px;
	font-family: 'Lato', sans-serif;
  padding-right: 30px;
  font-weight: 320;
}

.navbar li a {

	color: white;
	text-decoration: none;
}

.navbar li a:hover {
  color: #F5A281;


}

/*

.navbar li button {

  background-color: white;
  border-radius: 25px;
  border: none;
  color: black;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */


.hero_header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
 }

 .subheader {
 	display: flex;
 	justify-content: center;
 	color: black;
 	padding-top: 34px;
 	font-size: 34px;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
 	padding-bottom: 30px;

  }

  .cards_container {

  	width: 100%;
  	height: 550px;
  	background-color: lightgrey;
  	padding-top: 15px;
  }

  @media only screen and (max-width: 1200px) {
  .cards_container  {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 100%;

    
  }
}

.cards_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards_container img{
margin-top: 20px;
border-radius: 10px;
width: 400px;
height: auto;

}


@media only screen and (max-width: 600px) {
  .cards_container  {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 100%; 
  }
}


@media only screen and (max-width: 600px) {
  .cards_container img {
  margin-top: 25px;
  max-width: 100%;
  height: auto;
  }
}

.card_bape_button{

  padding-top: 20px;
}

.card_bape_button .button {

  background-color: #202431;
  color: #DADADA;
  width: 100%;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 10px 32px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.card_bape_button .button:hover {
  background-color: #303030;
}
